@import '~bootstrap/scss/bootstrap';

$background: #922b21;
$red: #a60202;
$green: #00a402;
$white: #FFF;
$grey: #cdcdcd;
$black: #000;
$navbar: #6c757d;
$navbarcolor: #fbd95c;

body {
  background-image: url("https://i.imgur.com/aRpvi8L.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.2);
  background-blend-mode: lighten;
  height: 100%;
}

.survey-box {
  border: 200px;
  height: 100%;
  width: 500px;
  display: auto;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 20px auto 20px auto;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: lighten;
  #submit-button{
    margin: 10px 10px;
  }
  // #survey-title-form {
  //   margin: 10px 10px;
  // }
  #survey-question-form {
    margin: 10px 10px;
  }
    .question-submit {
      width: 250px;
      height: 150px;
      word-wrap: break-word;
    }
  .button-grp {
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: 10px 10px;
    border: 10px;
  }
}

.error-message {
  color: $navbarcolor;
  text-shadow: 3px 3px black;
}

.success-message {
  color: $navbarcolor;
  text-shadow: 3px 3px black;
}
.hidden {
  display: none;
}

#sign-out-btn {
  display: none;
  // margin: 3px 3px;
}

#change-pass-btn {
  display: none;
  // margin: 3px 3px;
}
.navbar {
  background-color: $navbar;
  background-blend-mode: lighten;
  font-size: 30px;
  .btn {
    border: 1px solid white;
    margin: 3px 3px;
  }
  .navbar-brand{
  color: $navbarcolor;
  text-shadow: 3px 3px black;
  font-size: 40px;
  }
}

.forms {
  background-color: $navbar;
  background-blend-mode: lighten;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  // margin-bottom: 20px;
  #sign-up-form {
    display: none;
    margin: 0 auto;
    margin-bottom: 20px;
  }
    #sign-in-form {
      display: none;
      margin: 0 auto;
      margin-bottom: 20px;
    }
    #change-password-form {
        display: none;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}

#survey-form {
  margin: 3px 3px;
  text-align: center;
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  // height: 80px;
}

.all-survey {
  margin: 3px 3px;
  text-align: center;
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  // height: 80px;
}

.my-survey {
  margin: 3px 3px;
  text-align: center;
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  // height: 80px;
}

.all-survey {
  margin: 3px 3px;
  text-align: center;
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  // height: 80px;
}

.get-all-surveys {
  margin: 10px 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  h6 {
    margin-top: 5px;
  }
  ul {
    text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  }
}

.get-my-surveys {
    margin: 10px 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    h6 {
      margin-top: 5px;
    }
    ul {
      text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
  }

.messagegrid {
  display: flex;
  // align-items: center;
  width: 100%;
  font-size: 35px;
  justify-content: space-around;
  flex-direction: column;
  margin-top: 20px;
  height: 60px;
  #message{
    margin: 10px 10px;
  }
  #message-box {
    margin: 10px 10px;
  }
}
